# Virtual Environment
herosujal/
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Chroma DB
vectorstore/my_chroma_db/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/
tmp/